services:
  swarm-cd:
    image: ghcr.io/m-adawi/swarm-cd:1.9.0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    configs:
      - source: swarm-cd-repos
        target: /app/repos.yaml
      - source: swarm-cd-stacks
        target: /app/stacks.yaml
    # traefik setting
    networks:
      - traefik_traefik_proxy
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        # Traefikのサービスディスカバリーを有効化
        - "traefik.enable=true"
        # Swarm-CDルータールールを定義
        - "traefik.http.routers.swarm-cd.rule=Host(`swarm-cd.swarm.internal`)"
        # HTTPSエントリーポイントでSwarm-CDを公開
        - "traefik.http.routers.swarm-cd.entrypoints=websecure"
        # TLSを有効化
        - "traefik.http.routers.swarm-cd.tls=true"
        # TraefikにSwarm-CDのポート番号を公開
        - traefik.http.services.swarm-cd.loadbalancer.server.port=8080
    secrets:
      - source: age
        target: /secrets/age.key
    environment:
      - SOPS_AGE_KEY_FILE=/secrets/age.key

networks:
  traefik_traefik_proxy:
    name: traefik_traefik_proxy
    external: true

configs:
  swarm-cd-repos:
    external: true
  swarm-cd-stacks:
    external: true

secrets:
  age:
    file: age.key
